<h1>My details (<%= @user.userid %>)</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
  <%= render 'form', :f => f %>
  <div class="actions">
  	<%= f.submit "Update", :class => "submit" %>
		<%= f.submit "Cancel", :type => "button", :onclick => "this.form.reset()", :class => "reset" %>
</div>

<% end %>
<%= link_to 'Back', users_path %>
