<%= form_for @comment do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  	<div class="field">
    	<%= f.text_area :content, :class => "comment_content" %>
  	</div>
	<div><%= f.hidden_field(:artefact_id, :value => @artefact.id) %></div>
  	<div class="actions">
    	<%= f.submit "Submit" %>
		<%= f.submit "Cancel", :type => "button", :onclick => "this.form.reset()", :class => "reset" %>
  	</div>
<% end %>