<% if is_on_loan(@artefact) %>
<div>Not available at the moment. Loaned until <it><%= loan_end_date(@artefact) %></it></div>
	
<% else %>
	<% loan_start = get_loan_start_date %>
	<% loan_end = get_loan_end_date(loan_start) %>
	<div>Available for loan from <%= loan_start.strftime("%a, %d %b %Y")%> to <%= loan_end.strftime("%a, %d %b %Y")%></div>
	<%= form_for current_user.loans.
	                          build(:artefact_id => @artefact.id, :loan_start => loan_start, :loan_end => loan_end) do |f| %>
	  <div><%= f.hidden_field :artefact_id %></div>
		<div><%= f.hidden_field :loan_start %></div>	
		<div><%= f.hidden_field :loan_end %></div>		

	  <div class="actions"><%= f.submit "Loan" %></div>
	<% end %>
<% end %>