<tr>
	<table class="enum">
		<tr>
			<td>
				<h3><%= artefact.artefactid %></h3>
			</td>
			<td>
				<span  class="action_links">
					<%= link_to "show", artefact_path(artefact) %>
					<%= link_to "edit", edit_artefact_path(artefact) %>
					<% user = artefact.user rescue User.find(artefact.user_id) %>
					<% if current_user?(user) %>
						<%= link_to "delete", artefact, :method => :delete,
			                                     		:confirm => "You sure?",
			                                     		:title => artefact.name %>
					<% end %>
				</span>
			</td>
		</tr>
		<%= render :partial => "artefacts/artefact_item_short", :object => artefact %>
	</table>	
</tr>