<% unless artefact.blank? %>
<table class="enum">
  	<tr>
    	<td><h3><%= artefact.artefactid %></h3></td>
		<td>
			Owner: <%= artefact.user.userid %>
			<span class="action_links">
				<% if current_user.admin? %>	
					<%= link_to "Edit", edit_artefact_path(artefact) %>
					<%= link_to "Delete", artefact, :method => :delete,
		                                     		:confirm => "You sure?",
		                                     		:title => artefact.name %>
				<% end %>
				<%= link_to "Details", artefact_path(artefact), :class => "details" %>
			</span>
			</td>
	</tr>
	<%= render :partial => "artefacts/artefact_item_short", :object => artefact %>
</table>
<% end %>