<%= form_for(@artefact, :html => { :multipart => true }) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  	<div class="field">
    	<%= f.label :name %><br />
    	<%= f.text_field :name %>
  	</div>
  	<div class="field">
    	<%= f.label :description %><br />
    	<%= f.text_area :description %>
  	</div>
	<div class="field">
		<%= f.label :photo %><br />
		<%= f.file_field :photo, :class => "photo_upload" %> 
		<%= "Current photo: #{@artefact.photo_file_name}" unless @artefact.photo_file_name.nil? %>
	</div>
	<div class="field visibility">
		<span><b>Visibility</b></span><br />
		<%= f.label :visible, 'Show', :value => "true" %>
		<%= f.radio_button :visible, "true", :checked => true %> 
		<%= f.label :visible, 'Hide', :value => "false" %>
		<%= f.radio_button :visible, "false" %>
	</div>
	<div class="field visibility">
		<span><b>Available</b></span><br />
	</div>
	<div class="field locator">
		<span><b>Locator</b></span><br />
	</div>
  <div class="actions">
    <%= f.submit "Update" %>
	<%= f.submit "Cancel", :type => "button", :onclick => "this.form.reset()", :class => "reset" %>
  </div>
<% end %>


