<h1>Artefact Loan History</h1>
<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td>
			<span class="artefact_id"><h3>Artefact <%= @artefact.artefactid %></h3></span>
		</td>
		<td colspan="2">
			Owner: <%= @artefact.user.userid %>
		</td>
	</tr>
	<%= render :partial => "artefact_item_long", :object => @artefact %>
</table>

<table class="loaner_info enum">
	<%= render @loans %>
</table>
<%= will_paginate @loans %>