<p id="notice"><%= notice %></p>
<h1>Artefact Reviews</h1>

<table class="artefact_item_short">
<%= render :partial => "artefact_item_short", :object => @artefact %>
</table>

<% if @artefact.loaner?(current_user) %>
<h2>Add review</h2>
<%= render 'shared/comment_form' %>
<% end %>

<% unless @artefact.comments.empty? %>
<h2>Reviews</h2>
<%= render @comments %>
<%= will_paginate @comments %>
<% end %>
<%= link_to 'Back', artefact_path(@artefact) %>