<h1>Artefact Details</h1>
<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td colspan="3">
			<span class="artefact_id"><h3>Artefact <%= @artefact.artefactid %></h3></span>
		</td>
	</tr>
	<%= render :partial => "artefact_item_long", :object => @artefact %>
	<tr>
		<td>Owner: <%= @artefact.user.userid %></td>
		<td colspan="2">
			<span class="action_links">
				<%= link_to 'Reviews', reviews_artefact_path(@artefact) %>
			</span>
		</td>
	</tr>
</table>

<% user = @artefact.user rescue User.find(@artefact.user_id) %>

<% if !current_user?(user) %>
<h3>New loan</h3>
<%= render :partial => "shared/loan", :object => @artefact %>
<% end %>

<%= link_to 'Edit', edit_artefact_path(@artefact) %> |

<% if current_user?(user) %>
<%= link_to 'Back', myartefacts_user_path(user) %>
<% else %>
<%= link_to 'Back', artefacts_path %>
<% end %>
