<h1>Artefact Details</h1>
<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td colspan="3">
			<span class="artefact_id"><h3>Artefact <%= @artefact.artefactid %></h3></span>
		</td>
	</tr>
	<%= render :partial => "artefact_item_long", :object => @artefact %>
	<tr>
		<td>Owner: <%= @artefact.user.userid %></td>
		<td colspan="2">
			<span class="action_links">
				<%= link_to 'Add loan', loan_artefact_path(@artefact) %>
				<%= link_to 'Reviews', reviews_artefact_path(@artefact) %>
			</span>
		</td>
	</tr>
</table>

<%= link_to 'Edit', edit_artefact_path(@artefact) %> |
<%= link_to 'Back', :back %>
