<% user = @artefact.user rescue User.find(@artefact.user_id) %>

<!-- Gmaps -->
<%= render :partial => "shared/location_item", :object => @artefact %>

<h1>Artefact Details</h1>
<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td colspan="3">
			<span class="artefact_id"><h3>Artefact <%= @artefact.artefactid %></h3></span>
		</td>
	</tr>
	<%= render :partial => "artefact_item_long", :object => @artefact %>
</table>

<span class="bold_action_links">
	<%= link_to 'Reviews', reviews_artefact_path(@artefact) %>
	<% if current_user?(user) or current_user.admin? %>
	| <%= link_to 'Loan history', loans_artefact_path(@artefact) %>
	<% end %>
</span>


<% if !current_user?(user) or current_user.admin?  %>
	<h3>New loan</h3>
	<%= render :partial => "shared/loan", :object => @artefact %>
	<% if !current_user.admin? %>
		<div>
			<%= link_to 'Back', artefacts_path %>
		</div>
	<% end %>
<% end %>


<% if current_user?(user) or current_user.admin? %>
	<h3>Current Loan</h3>
	<%= render :partial => "shared/currentloan", :object => @artefact %>
	
	<div>
		<%= link_to 'Edit', edit_artefact_path(@artefact) %> |
		<%= link_to 'Back', myartefacts_user_path(user) %>
	</div>
<% end %>
