<p id="notice"><%= notice %></p>

<table>
<%= render :partial => "artefact_item_short", :object => @artefact %>
</table>

<% unless @artefact.comments.empty? %>
	<table class="comments" summary="Artefact's comments">
        <%= render @comments %>
    </table>
    <%= will_paginate @comments %>
<% end %>


<%= link_to 'Edit', edit_artefact_path(@artefact) %> |
<%= link_to 'Back', artefacts_path %>
